{% extends "templates/base.twig" %}

{% block title %}Post view {% endblock %}

{% block body %}

<head>

    <link href="/assets/styles/home.css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <style>
        #back{
            margin-left:20%;
        }
        #checkout{
            
            margin-left:40%;
        
        }
    </style>

    </head>

    
    <h1> Books Available In Library </h1>
    
    <table id="books">
        <thead>
            <tr align="center">

                <th>
                    Book Name
                </th>
                
                <th>
                    Number of books
                </th>
             
            </tr>
        </thead>

        <tbody>

            {% for bookdata in booksavailable %}
                <tr align="center">

                    <td>
                        {{ bookdata.bookname }}
                    </td>
                     <td>
                        {{ bookdata.number }}
                    </td>
                    
                {% endfor %}

            </tbody>

        </table>
    </html>
{% endblock %}
