{% extends "templates/base.twig" %}

{% block title %}Post view {% endblock %}

{% block body %}
    
    <h1> Books Available In Library </h1>
    
    <table id="books">
        <thead>
            <tr align="center">

                <th>
                    Book Name
                </th>
                
                <th>
                    Number of books
                </th>
             
            </tr>
        </thead>

        <tbody>

            {% for bookData in booksAvailable %}
                <tr align="center">

                    <td>
                        {{ bookData.bookName }}
                    </td>
                     <td>
                        {{ bookData.number }}
                    </td>
                    
                {% endfor %}

            </tbody>

        </table>
    </html>

    <form action= "/" method = "GET">                             
        <button  type="submit" class="btn btn-primary">Home</button>
    </form>

{% endblock %}
