
{% extends "templates/base.twig" %}

{% block title %}My website home{% endblock %}

{% block body %}
<html>
<body>
<h1>Error 404</h1>
<h2>Invalid request</h2>
</body>
<br>
<br>
<br>
<form action= "/" method = "GET">
<button  type="submit" class="btn btn-primary">Home</button>
</form> 

</html>

{% endblock %}