
{% extends "templates/base.twig" %}

{% block title %}My website home{% endblock %}

{% block body %}

  <div class="home">
    <form action= "/" method = "GET">                             
        <button  type="submit" class="btn btn-primary">Logout</button>
    </form>
    </div>

  <form action = "/register" method = "POST" >
    <div class="mb-3">
    <label>Name   :</label>
    <input type="text" name="name" class="form-control" >
  </div>

  <div class="mb-3">
    <label>Username:</label>
    <input type="text" name="username" class="form-control" > 
  </div>

  <div class="mb-3">
    <label>Password:</label>
    <input type="password" name="password" class="form-control">
  </div>

  <div class="mb-3">

  <button type="submit" class="btn btn-primary">Register</button>

  </div>
</form>


{% endblock %}

